{% extends 'navbar.html' %}

{% load crispy_forms_tags %}

{% block body_block %}
<a class="btn btn-block button-register" href={% url 'analysis:add_clinic' %}>Add new health clinic</a>
<a class="btn btn-block button-register" href={% url 'analysis:add_medical_test' %}>Add new medical test</a>
<a class="btn btn-block button-register" href={% url 'analysis:add_result_type' %}>Add new result type</a>
<a class="btn btn-block button-register" href={% url 'analysis:add_result' %}>Add new result</a>

{% endblock %}