<!DOCTYPE html>
<html>
<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <style>
        /* Modify the background color */
        .navbar-custom {
            background-color: aqua;
        }
            
        /* Modify brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: white;
        }
           
    </style>
    <center>
        <nav class="navbar navbar-custom navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav ml-auto">
                    <li><a class="navbar-brand" href="{% url 'analysis:home' %}">Home</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:myprofile' %}">MyProfile</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:add' %}">Add</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:show_all' %}">ShowAll</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:statistics' %}">Statistics</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:notifications' %}">Notifications</a></li>
                    <li><a class="navbar-brand" href="{% url 'analysis:chat' %}">Chat</a></li>
                </ul>
            </div>
        </nav>
    </center>
</body>
</html>